.main_spinner {
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.remove-close-icon-modal .Polaris-Modal-CloseButton {
    display: none
}

.rows {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters .col {
    padding-right: 0;
    padding-left: 0;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.pt {
    padding-top: 5px !important;
}

.pb-3 {
    padding-bottom: 15px !important;
}

.mb-3 {
    margin-bottom: 15px !important;
}

.d-flex {
    display: flex;
}

.sub_msg {
    padding: 10px;
}

.align-items-center {
    align-items: center;
}

.wl_logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wl_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-collection {
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.wl_btn_common {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.wl_btn_common svg {
    margin-right: 5px;
}

.email-logo-preview {
    background-color: #e4e5e7;
    border-radius: 50%;
    height: 2.5rem;
    max-height: 100%;
    max-width: 100%;
    width: 2.5rem;
}

.email-logo-preview, .img-set {
    align-items: center;
    display: flex;
    justify-content: center;
}

.email-logo-preview svg {
    display: block;
    max-height: 20px;
    max-width: 20px;
    width: 100%;
}


.alert-info {
    background-color: #f6f6f7;
    border: 1px solid #d5d6d9;
    display: flex;
    align-items: center;
    padding: 10px;
}

.alert-info button {
    border: none;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.FooterHelp__Content {
    align-items: center;
    border: .1rem solid #dfe3e8;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 340px;
    padding: 20px 20px 20px 16px;
}

.FooterHelp__Content svg {
    display: block;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 18px;
    margin-right: 5px;
}

.branding-icon svg {
    /*margin-bottom: 20px;*/
    /*margin-top: 10px;*/
    width: 70px;
    text-align: center !important;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 10px auto 20px;
}

.branding-icon svg .st0 {
    fill: #008060;
}

.branding-icon svg .st1 {
    fill: #fff;
}

ul.boringListNav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f6f6f7;
}

ul.boringListNav li {
    font-size: 16px;
    padding: 16px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #edeeef;
    align-items: center;
    position: relative;
    cursor: pointer;
}

ul.boringListNav li.is-active-nav {
    background-color: #fff;
}

ul.boringListNav li span {
    width: 18px;
    height: 18px;
    background: #5c5f62;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    line-height: 0;
    margin-right: 10px;
}

ul.boringListNav li.is-active-nav span {
    background: #008060;
    color: #ffffff;
}

ul.boringListNav li.is-active-nav:before {
    content: "";
    width: 3px;
    height: 100%;
    display: block;
    background-color: #008060;
    position: absolute;
    left: 0;
    top: 0;
}

.boringListContain {
    padding: 20px 30px;
    border-top: 1px solid #edeeef;
    min-height: 200px;
}

.boringListContain .Polaris-Heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 0.8rem;
}

.boringListContain p {
    font-size: 1em;
    font-weight: 400;
}

.install-img {
    border: 1px solid #c9cccf;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.setting-icon {
    background: #f4f6f8;
    border: 0;
    border-radius: 5px;
    line-height: 0;
    padding: 10px 0;
    text-align: center;
    width: 40px;
}

.setting-pointer {
    cursor: pointer;
}


.copy-code {
    width: 100%;
    display: inline-block;
    position: relative;
}

.copy-code .cc-input-text {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 122, 92, 1);
    line-height: 20px;
    border: 1px solid #e6e6e6;
    margin: 0;
    padding: 10px 45px 10px 12px;
    border-radius: 6px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.copy-code button.cc-copy {
    width: 40px;
    height: 40px;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.copy-code button.cc-copy:disabled {
    cursor: context-menu;
}

.copy-code button.cc-copy svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.copy-code button.cc-copy svg.cc-true-icon {
    display: none;
    fill: #fff;
}

.copy-code.copy-true button.cc-copy svg.cc-copy-icon {
    display: none;
}

.copy-code.copy-true button.cc-copy svg.cc-true-icon {
    display: inline-block;
}

.color_picker {
    display: flex;
    align-items: center;
    border: 1px solid #aeb4b9;
    border-top-color: #898f94;
    border-radius: 4px;
    height: 36px;
}

.color_picker input[type=color] {
    width: 40px;
    min-width: 40px;
    padding: 3px 7px;
    background: #fff;
    border: 0;
    border-radius: 4px 0 0 4px;
    height: 33px;
}

.color_picker input[type=color]:focus ~ label::after {
    box-shadow: 0 0 0 2px #458fff FF;
}

.color_picker input[type=color]:disabled {
    cursor: context-menu;
}

.color_picker input[type=color]:disabled ~ label {
    cursor: context-menu;
    color: #8c9196;
    -webkit-text-fill-color: #8c9196;
    background-color: #fafbfb;
    border-color: #c9cccf;
    border-radius: 0 4px 4px 0;
    border-top-color: #d2d5d8;
}

.color_picker label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.color_picker label::after {
    content: '';
    position: absolute;
    inset: -0.125rem -0.125rem -0.125rem -42px;
    pointer-events: none;
    border-radius: 4px;
    width: calc(100% + 44px);
}


.switch-button {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.switch-button input.switch-btn-input {
    /*display: none;*/
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

}

.switch-button :checked + .witch-button-label {
    background: #008060;
}

.switch-button :checked + .witch-button-label:after {
    left: 50%;
}

.switch-button label.witch-button-label {
    background: rgba(0, 0, 0, .25);
    border: 1px solid #e8eae9;
    border-radius: 2em;
    display: inline-block;
    height: 20px;
    outline: 0;
    padding: 2px;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    width: 35px;
    cursor: pointer;
}

.switch-button :after {
    background: #fbfbfb;
    border-radius: 2em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: relative;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    width: 50%;
}

.planpriceWrap {
    display: inline-block;
    width: 100%;
}

ul.PlanPriceList {
    border-bottom: 1px solid #d5d6d9;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul li.ppl_item {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li .pplLabel {
    color: #000;
    flex: 0 0 350px;
    font-size: 14px;
    line-height: 22px;
    max-width: 350px;
    padding: 10px;
}

ul li .pplContent {
    border-left: 1px solid #dbdbdb;
    color: #000;
    flex-basis: calc(100% - 350px);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 22px;
    max-width: calc(100% - 350px);
    padding: 10px;
    text-align: center;
}

ul.PlanPriceList li.ppl_item .pplContent .icons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 16px;
    justify-content: center;
    margin: 0 auto;
    width: 16px;
}

.react-tagsinput-input {
    margin-bottom: 5px;
}

.react-tagsinput {
    border-radius: 2px;
    padding-top: 3px;
}

.react-tagsinput.react-tagsinput--focused {
    border-color: #40a9ff;
}

.react-tagsinput .react-tagsinput-tag {
    /*background-color: #8080803b;*/
    border: 1px solid #8080803b;
    background-color: green;
    /*color: rgba(0, 0, 0, 0.85);*/
    color: #ffffff;
    margin-bottom: 3px;
    padding: 1px 5px;
    font-size: 12px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.col-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.materialui-daterange-picker-makeStyles-dateRangePicker-2.datepicker {
    position: absolute;
    z-index: 9999;
    right: 0;
}

.materialui-daterange-picker-makeStyles-dateRangePicker-2.datepicker
.materialui-daterange-picker-MuiTypography-displayBlock-167 {
    white-space: nowrap;
}

.datepicker-contain {
    position: relative;
}


.datepicker [class*="materialui-daterange-picker-makeStyles-header-"] {
    padding: 10px 25px;
}

@media (max-width: 575px) {

    .materialui-daterange-picker-makeStyles-dateRangePicker-2.datepicker {
        position: static;
    }

    .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width: 1024px) {
    .materialui-daterange-picker-MuiGrid-root-35.materialui-daterange-picker-MuiGrid-container-36.materialui-daterange-picker-MuiGrid-wrap-xs-nowrap-42 {
        flex-wrap: wrap;
    }

    .materialui-daterange-picker-makeStyles-dateRangePicker-2.datepicker {
        position: relative;
        z-index: 9999;
        right: 0;
    }

    .datepicker > div > div > :first-child {
        min-width: 400px;
        order: 2;
    }

    .datepicker > div > div > :last-child {
        min-width: 105px;
        order: 1;
    }
    .datepicker [class*="materialui-daterange-picker-makeStyles-header-"] {
        max-width: 290px;
        margin: auto;
    }
}

@media (max-width: 669px) {
    .datepicker [class*="materialui-daterange-picker-MuiGrid-justify-content-xs-center-"] {
        justify-content: flex-start;
    }
    .datepicker [class*="materialui-daterange-picker-makeStyles-header-"] {
        margin: unset;
    }
    .datepicker [class*="materialui-daterange-picker-MuiDivider-root-"] {
        max-width: 290px;
    }
}





