@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans-Demi.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans-Demi.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans-Demi.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans-Demi.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans-Bold.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('./utils/Fonts/LucidaSans.woff2') format('woff2'),
    url('./utils/Fonts/LucidaSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main_spinner {width: calc(100vw - 10px);height: calc(100vh - 10px);display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
.remove-close-icon-modal .Polaris-Modal-CloseButton {display: none}
.preview-collection {position: relative;padding: 10px;border: 1px solid #ccc8c8;}
.preview-collection figure{position: relative; margin: 0; display: inline-block; width: 100%; line-height: 0}
/*.preview-collection figure:before{content: ""; width: 100%; display: inline-block; padding-bottom: 125%;}*/
.preview-collection figure img{width: 100%; height: 100%; position: relative; top: 0; left: 0; object-fit: contain; object-position: bottom}
.d-flex {display: flex;}
.sub_msg {padding: 10px;}
.align-items-center {align-items: center;}
.uploadedFile{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.wl_logo {width: 40px;height: 40px;display: flex;justify-content: center;align-items: center;}
.wl_logo svg {width: 40px;height: 40px;}
.wl_btn {display: flex;justify-content: center;align-items: center;}
/*.btn-collection {padding: 10px;position: absolute;top: 0;width: 100%;}*/
.wl_btn_common {display: flex;justify-content: center;cursor: pointer;align-items: center;}
.wl_btn_common svg {margin-right: 5px;}
.email-logo-preview {background-color: #e4e5e7;border-radius: 50%;height: 30px;max-height: 100%;max-width: 100%;width: 30px;}
.email-logo-preview, .img-set {align-items: center;display: flex;justify-content: center;}
.email-logo-preview svg {display: block;max-height: 18px;max-width: 18px;width: 100%;}
.branding-icon {display: flex;height: 70px;width: 72px;align-items: center;justify-content: center;background-color: #f2f9f7;border-radius: 6px;}
.branding-icon svg {width: 50px;}
.branding-icon svg .st0 {fill: #008060;}
.branding-icon svg .st1 {fill: #fff;}
.install-img {border: 1px solid #c9cccf;border-radius: 5px;padding: 10px;width: 100%;}
.copy-code {width: 100%;display: inline-block;position: relative;}
.copy-code .Polaris-TextField__Input {width: 100%;display: inline-block;padding-right: 40px}
.copy-code button.cc-copy {width: 40px;height: 40px;line-height: 0;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;position: absolute;right: 0;top: 50%;margin-top: -20px;background: transparent;border: 0;cursor: pointer; z-index: 999}
.copy-code button.cc-copy:disabled {cursor: context-menu;}
.copy-code button.cc-copy svg {width: 16px;height: 16px; fill: #000000;}
.copy-code button.cc-copy svg.cc-true-icon {display: none; fill: #000000;}
.copy-code.copy-true button.cc-copy svg.cc-copy-icon {display: none;}
.copy-code.copy-true button.cc-copy svg.cc-true-icon {display: inline-block;}
.color_picker span {background: #fff;position: absolute;right: 5px;bottom: 6px;top: 6px;display: flex;flex-wrap: wrap;align-items: center;left: 45px;padding-left: 6px;cursor: pointer;}
.color_picker input[type=color] {width: 40px;padding: 3px 7px;background: #fff;border: none;border-radius: 9px 0 0 9px;position: absolute;top: 0;left: 0;bottom: 0;display: inline-block;height: auto;}
.color_picker input:focus {outline: none;}
.color_picker {width: 100%;display: inline-block;position: relative;border: 1px solid #8A8A8A;border-radius: 9px;height: 32px;background-color: #fff;}

/*.color_picker_color{width: 35px; height: 35px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}*/
.color_picker_color {width: 38px;height: 100%;border-top-left-radius: 8px;border-bottom-left-radius: 8px;border-right: 1px solid #c9cccf;}
.sketch-picker {position: absolute; z-index: 9999; top: 36px}
.Polaris-ShadowBevel:has(.color_picker), .Polaris-Box:has(.color_picker){overflow: inherit; border-radius: 10px}
.switch-button {align-items: center;display: flex;flex-wrap: wrap;}
.switch-button input.switch-btn-input {margin: 0; width: 0;height: 0;opacity: 0;visibility: hidden;}
.switch-button :checked + .witch-button-label {background: #008060;}
.switch-button :checked + .witch-button-label:after {left: 50%;}
.switch-button label.witch-button-label {background: rgba(0, 0, 0, .25);border: 1px solid #e8eae9;border-radius: 2em;display: inline-block;height: 20px;outline: 0;padding: 2px;position: relative;transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-webkit-user-select: none;user-select: none;width: 35px;cursor: pointer;}
.switch-button :after {background: #fbfbfb;border-radius: 2em;box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);content: "";display: block;height: 100%;left: 0;position: relative;transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;width: 50%;}
.planpriceWrap {display: inline-block;width: 100%;}
ul.PlanPriceList {border-bottom: 1px solid #d5d6d9;display: inline-block;list-style: none;margin: 0;padding: 0;width: 100%;}
ul li.ppl_item {background-color: #fff;border: 1px solid #dbdbdb;border-bottom: 0;display: flex;flex-wrap: wrap;}
ul li .pplLabel {color: #000;flex: 0 0 225px;font-size: 14px;line-height: 22px;max-width: 225px;padding: 10px;}
ul li .pplContent {border-left: 1px solid #dbdbdb;color: #000;flex-basis: calc(100% - 225px);flex-grow: 0;flex-shrink: 0;font-size: 14px;line-height: 22px;max-width: calc(100% - 225px);padding: 10px;text-align: center;}
ul.PlanPriceList li.ppl_item .pplContent .icons {align-items: center;display: flex;flex-wrap: wrap;height: 16px;justify-content: center;margin: 0 auto;width: 16px;}
.react-tagsinput-input {margin-bottom: 5px;}
.react-tagsinput {border-radius: 2px;padding-top: 3px;}
.react-tagsinput.react-tagsinput--focused {border-color: #40a9ff;}
.react-tagsinput .react-tagsinput-tag {margin-bottom: 3px;color: var(--p-color-text);min-height: 1.5rem;}
.row {display: flex; flex-flow: row wrap; margin-left: -8px; margin-right: -8px;}
.col {padding-left: 8px; padding-right: 8px;}
.col-5 {flex: 0 0 20%; max-width: 20%;}
.col-4 {flex: 0 0 25%; max-width: 25%;}
.Polaris-Modal-Dialog__Container {z-index: 1050;}
.w-100 {width: 100%;}
.Polaris-FooterHelp {position: sticky; bottom: 0; top: 100%;}
.custom-badge {font-size: 12px;color: #096dd9;background: #e6f7ff;line-height: 12px;padding: 5px 10px;font-weight: 600;border-radius: 13px;border: 1px solid #91d5ff;min-width: 110px;display: inline-block;text-align: center;}
.custom-badge.badge-type-1 {color: #d46b08;background: #fff7e6;border-color: #ffd591;}
.custom-badge.badge-type-2 {color: #389e0d;background: #f6ffed;border-color: #b7eb8f;}
.custom-badge.badge-type-3 {color: #531dab;background: #f9f0ff;border-color: #d3adf7;}
.custom-badge.badge-type-4 {color: #faad14;background: #fffbe6;border-color: #ffe58f;}
.custom-badge.badge-type-5 {color: #c41d7f;background: #fff0f6;border-color: #ffadd2;}
.custom-badge.badge-type-6 {color: #08979c;background: #e6fffb;border-color: #87e8de;}
.custom-badge.badge-type-7 {color: #d4380d;background: #fff2e8;border-color: #ffbb96;min-width: 80px !important;}
.Polaris-Page--narrowWidth {max-width: 47rem;}
.Polaris-Label__Text:has(.Polaris-Label-full), .Polaris-Label:has(.Polaris-Label-full) { width: 100%; }
.reb-card-heading-boding{cursor: pointer;}
.cursor-pointer{cursor: pointer;}
.reb-card-analytics{padding: var(--p-space-300);border-radius: var(--p-border-radius-200);cursor: pointer;margin-bottom: 5px;}
.reb-card-analytics:hover {background: var(--p-color-bg-surface-secondary);}
.reb-card-analytics .Polaris-LegacyStack__Item{line-height: 0}
.reb-card-analytics .Polaris-LegacyStack__Item--fill .Polaris-LegacyStack__Item{line-height: normal}
.boding-count{width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;border: 2px #8A8A8A dashed;border-radius: 50%;color: #000000;font-size: 11px;font-weight: 700;}
.boding-count-active{color: #ffffff;background: #000000;border: 0}
.sgi_icon .Polaris-Icon {height: 30px;width: 30px;}

.remove-cursor .Polaris-ResourceItem{cursor: inherit;}

.hide-popup-close-icon .Polaris-Modal-Dialog__Modal .Polaris-Button--iconOnly{display: none;}

@media (max-width: 991px) {
    .planpriceWrap{overflow: auto;}
    ul.PlanPriceList{width: 950px;}
}
@media (max-width: 575px) {
    .branding-icon {height: 60px;width: 100px;}
    .branding-icon svg {width: 40px;}
}